html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: #f0f0f0;
  color: #303030;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #f0f0f0;
}
header {
  height: 650px;
  width: 100%;
}
.purple {
  color: #8667ff;
}
.dc-black {
  color: #202225;
}
.dc-wm1 {
  font-size: 9rem;
}
.fin-black {
  color: #595959;
}
.fin-blue {
  color: #2285c8;
}
.fin-green {
  color: #69ccc0;
}
#background-header {
  background-color: #303030;
  height: 90px;
  width: 1234px;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
#my-logo {
  position: absolute;
  left: 7%;
  transform: translate(0%, -50%);
  width: 40px;
  top: 50%;
}
#name {
  position: absolute;
  font-size: 1rem;
  color: #f0f0f0;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
#email {
  position: absolute;
  font-size: 1rem;
  color: #f0f0f0;
  right: 7%;
  transform: translate(0%, -50%);
  top: 50%;
}
#intro {
  padding-top: 260px;
}
#intro h1 {
  margin: auto;
  font-size: 6.8rem;
  text-align: center;
  width: 100%;
}
#pitch {
  margin: auto;
  max-width: 95vw;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
#navi-container {
  margin: auto;
  width: 1234px;
  max-width: 95.6vw;
  margin-top: 200px;
  display: flex;
  align-items: center;
}
#navi {
  margin: auto;
  text-align: center;
  /* font-weight: bold; */
}
#navi span:hover {
  font-weight: bold;
}
hr {
  border: none;
  border-top: 2px solid #303030;
  max-width: calc((95.6vw - 302.86px) / 2);
  width: 450px;
}
.project-container {
  width: 1234px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(91, 90px);
  margin-top: 116px;
  column-gap: 14px;
  row-gap: 14px;
}
.project-container p {
  font-size: 1.5rem;
}
.project-container h1 {
  grid-column: 1 / 10;
  grid-row: 1 /3;
  line-height: 70%;
  font-size: 6.8rem;
}
.project-container h2 {
  grid-column: 2 / 13;
  grid-row: 2 /3;
  line-height: 70%;
  font-size: 3.5rem;
}
.project-container h3 {
  grid-column: 8 / 13;
  grid-row: 1 /2;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 3.5rem;
  transform: translateY(-15px);
}
.project-container h4 {
  grid-column: 7 / 13;
  grid-row: 2 / 3;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.5rem;
  transform: translateY(-25px);
}
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button h6 {
  font-weight: normal;
  padding: 14px 25px;
  border: 2px solid #202225;
  font-size: 1.5rem;
}
.challenge {
  grid-column: 5 / 13;
  grid-row: 3/5;
}
.challenge p {
  margin-top: 14px;
}
#discord-waterink1 {
  grid-column: 2 / 6;
  grid-row: 3/5;
  opacity: 20%;
  width: 402px;
  transform: translateY(-30px);
}
#discord p {
  color: #202225;
}
#cover-discord {
  grid-row-start: 6;
  grid-column: 2 / 12;
}
#cover-discord img {
  width: 1026px;
}
#notification-container img {
  padding-bottom: 0.5vw;
  width: 298px;
}
#notification-container {
  display: flex;
  flex-direction: column;
  grid-column: 10 / 13;
  grid-row-start: 6;
}
#discord-waterink2 {
  grid-column: 1 / 3;
  grid-row: 16 / 17;
  transform: translateY(-20px);
}
#discord-waterink3 {
  grid-column: 2 / 4;
  grid-row: 22 / 23;
  opacity: 20%;
  transform: translateY(20px);
}
#discord-waterink4 {
  grid-column: 10 / 12;
  grid-row: 24 / 25;
  opacity: 20%;
  transform: translateY(-40px);
}
.dc-wis {
  width: 190px;
}
#ba {
  width: 610px;
  grid-column: 4 / 10;
  grid-row: 18 / 19;
}
#ba-text {
  grid-column: 3 / 11;
  grid-row: 23 / 26;
}
#discord-persona {
  width: 90px;
  grid-column: 3 / 4;
  grid-row: 28 / 29;
}
#psn-name {
  font-size: 2.5rem;
}
#discord-about {
  grid-row: 29 / 34;
  grid-column: 3 / 7;
  line-height: 120%;
}
#discord-goals {
  grid-row: 29 / 34;
  grid-column: 7 / 11;
}
#discord-basics {
  transform: translateY(-30px);
  grid-row: 32 / 36;
  grid-column: 3 / 7;
}
#discord-needs {
  transform: translateY(-30px);
  grid-row: 32 / 36;
  grid-column: 7 / 11;
}
.discord-psn span {
  line-height: 200%;
  color: #8667ff;
  font-weight: bold;
}
.discord-psn-title {
  line-height: 200%;
  color: #8667ff;
  font-weight: bold;
  font-size: 1.5em;
}
ul {
  font-size: 1.5em;
  transform: translateX(28px);
}
ul li {
  margin-bottom: 14px;
}
.discord-line {
  width: 818px;
  height: 5px;
  background-color: #8667ff;
  grid-column: 3 / 11;
  align-self: end;
}
.discord-quote {
  font-style: italic;
  padding: 10px 20px;
  font-size: 2rem;
  grid-row: 35 / 37;
}
#discord-radar {
  width: 818px;
  grid-row: 39 / 44;
  grid-column: 3 / 11;
}
#discord-cards {
  width: 960px;
  grid-row: 43 / 50;
  grid-column: 2 / 12;
  transform: translate(14px, -55px);
}
#discord-pitch {
  width: 1234px;
  grid-row: 51 / 58;
  grid-column: 1 / 13;
}
.discord-dr {
  width: 610px;
  grid-row: 52 / 57;
}
#frame-con {
  grid-column: 2 / 12;
  grid-row: 79 / 87;
}
#frame-con iframe {
  width: 1024px;
  height: 724px;
}
.loc-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-column: 4 / 10;
  grid-row: 73 / 76;
  column-gap: 178px;
  row-gap: 130px;
}
.loc-container img {
  width: 30px;
}
#des-container {
  transform: translate(45px, 0px);
  grid-column: 4 / 10;
  grid-row: 73 / 77;
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 160px 160px 160px;
  column-gap: 48px;
  row-gap: 7px;
}
.item-c {
  width: 160px;
  height: 180px;
}
#des-container ul {
  list-style-type: none;
  transform: translateX(0px);
}
#loc-number {
  color: #f0f0f0;
  font-weight: bold;
  column-gap: 195px;
  row-gap: 140px;
  transform: translate(6px, 2px);
}
#loc-number p {
  color: #f0f0f0;
}

#finvestigator p,
h4,
h6 {
  color: #595959;
}

#finvestigator .button h6 {
  border: 2px solid #595959;
}
#fin-wm1 {
  grid-column: 2 / 10;
  grid-row: 3/5;
  opacity: 20%;
  width: 700px;
  transform: translateY(-20px);
}
.light-bg {
  width: 1234px;
}
#dc-uis {
  width: 1234px;
}
#dc-card {
  width: 900px;
  transform: translate(-40px, -20px);
}
@media screen and (max-width: 1300px) {
  .project-container {
    width: 95vw;
    grid-template-columns: repeat(12, 7vw);
    grid-template-rows: repeat(91, 7vw);
    column-gap: 1vw;
    row-gap: 1vw;
    transform-origin: top center;
    /* transform: scale(0.8); */
  }
  .light-bg {
    width: 95vw;
  }
  .dc-wis {
    width: 15vw;
  }
  #cover-discord img {
    width: 79vw;
  }
  #notification-container img {
    width: 23vw;
  }
  #ba {
    width: 47vw;
  }
  #discord-persona {
    width: 7vw;
  }
  #discord-basics {
    transform: translateY(-2vw);
  }
  #discord-needs {
    transform: translateY(-2vw);
  }
  #discord-radar {
    width: 63vw;
  }
  #discord-cards {
    width: 74vw;
    transform: translate(1vw, -4vw);
  }
  .discord-dr {
    width: 47vw;
  }
  .dc-wm1 {
    font-size: 7rem;
  }
  #dc-uis {
    width: 95vw;
  }
  .loc-container img {
    width: 2.3vw;
  }
  #dc-card {
    width: 69vw;
    transform: translate(-3vw, -3vw);
  }
  .loc-container {
    column-gap: 13.7vw;
    row-gap: 13vw;
  }
  #loc-number {
    column-gap: 15vw;
    row-gap: 14vw;
  }
  .item-c {
    width: 12.5vw;
    height: 13vw;
  }
  #des-container {
    transform: translate(3.5vw, 0);
    grid-template-columns: repeat(3, 12vw);
    grid-template-rows: repeat(3, 13.6vw);
    column-gap: 4vw;
    row-gap: 2vw;
    font-size: 1.1vw;
  }
  #des-container ul li {
    font-size: 1.2vw;
  }
  #frame-con iframe {
    width: 79vw;
    height: 55vw;
  }
  .project-container p {
    font-size: 1.2rem;
  }
  .project-container h1 {
    font-size: 6rem;
  }
  .project-container h2 {
    font-size: 3rem;
  }
  .project-container h3 {
    font-size: 3rem;
    transform: translateY(-1.8vw);
  }
  .project-container h4 {
    font-size: 1.2rem;
    transform: translateY(-16.5px);
  }
  .project-container h6 {
    font-size: 1.2rem;
  }
  #psn-name {
    font-size: 2rem;
  }
  ul {
    font-size: 1.2rem;
  }
  ul li {
    /* line-height: 100%; */
    margin: 0 0 1vw 1vw;
  }
  .discord-line {
    width: 63vw;
  }
  .discord-quote {
    font-style: italic;
    padding: 1.5vw 2.2vw;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 993px) {
  .project-container p {
    font-size: 1rem;
  }
  .project-container h1 {
    font-size: 5.5rem;
  }
  .project-container h2 {
    font-size: 2.5rem;
  }
  .project-container h3 {
    font-size: 2.5rem;
  }
  .project-container h4 {
    font-size: 1rem;
  }
  ul {
    font-size: 1rem;
  }
  ul li {
    margin: 0 0 0.1vw 0;
  }
  .dc-wm1 {
    font-size: 5rem;
  }
  .discord-psn-title {
    font-size: 1.5em;
  }
  .discord-quote {
    font-size: 1.25rem;
  }
  #psn-name {
    font-size: 1.5rem;
  }
  #des-container {
    transform: translate(3.5vw, 0);
    grid-template-columns: repeat(3, 12vw);
    grid-template-rows: repeat(3, 13.6vw);
    column-gap: 4vw;
    row-gap: 2vw;
    font-size: 1.1vw;
  }
  #des-container ul li {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 910px) {
  .project-container p {
    font-size: 1rem;
  }
  .project-container h1 {
    font-size: 4.5rem;
  }
  .project-container h2 {
    font-size: 2rem;
  }
  .project-container h3 {
    font-size: 2rem;
  }
  .project-container h4 {
    font-size: 1rem;
  }
  .project-container h6 {
    font-size: 1rem;
  }
  .discord-psn-title {
    font-size: 1.5em;
  }
  #discord-basics {
    transform: translateY(0vw);
  }
  #discord-needs {
    transform: translateY(0vw);
  }
  ul li {
    font-size: 1rem;
  }
  .dc-wm1 {
    font-size: 4rem;
  }
  .discord-quote {
    font-size: 1.1rem;
  }
  #psn-name {
    font-size: 1rem;
  }
}
